body
{
    background-image: url("../img/0.gif");
    background-color: DarkCyan;
}

#go-back
{
    width: 34px;
    height: 34px;
}

#go-next
{
    width: 34px;
    height: 34px;
}

#div1
{
    margin-top: 4px;
    position: relative;
    width: 33px;
    height: 17px;
    overflow: hidden;
    border-radius: 25px;
}

#div2
{
    position: absolute;
    top: -276px;
    left: -20px;
}
